/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.wrapper {
    width: 100%;
    height: 100vh;
}

*.hidden {
    display: none;
}

/* player bar */
.player_bar {
    flex-grow: 1;
    padding: 0 10px;
}

.player_time,
.player_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3); 
}
.elapsed_bar {
    height: 100%;
    width: 30%;
    background-color: #fff; 
}
.fader_cursor {
    position: relative;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
}

.bar:hover .elapsed_bar {
    background-color: #adff2f 
}
.bar:hover .fader_cursor {
    opacity: 1; 
}
/* main */
main {
    display: flex;
    height: calc(100% - 100px);
}

/* sidenav */
.sidenav {
    display: flex;
    flex-direction: column;
    width: 230px;
    background-color: #000;
}

/* sidenav styles */
.sidenav h3 {
    /* padding: 10px 10px; */
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

/* .sidenav .nav_single_item:not(li) {  
    display: flex;
    align-items: center;   
    padding: 10px 10px;
} */

.sidenav li {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    font-weight: 600;
    border-left: 5px solid #000;    
    border-right: 5px solid #000; 
}       
.sidenav li a {
    display: flex;
    align-items: center;
}

.sidenav .icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;    
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}
.sidenav .nav_icon {
    height: 30px;
    margin-right: 10px;        
}

/* sidenav hover/active */
.sidenav li:active {
    border-left-color: #adff2f;
}

.sidenav li:active img,
.sidenav li:active a,
.sidenav li:hover img,
.sidenav li:hover a {
    color: #fff;
    opacity: 1;
}

.sidenav li:not(#user):active .icon_box,
.sidenav li:not(#user):hover .icon_box {
    background-color: #fff;
}

/* sidenav logo */
.nav_logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 100px;
    padding: 10px 10px;
}
#logo_small {
    height: 30px;
}
#logo_full {
    height: 40px;
}

.nav_menu {
    min-height: 150px;    
}
.nav_menu .nav_icon {
    opacity: 0.6;
}

/* playlists */
.nav_playlists {
    flex-grow: 1;
    overflow-y: auto;
}

.nav_playlists .nav_icon {
    margin: 0;
    font-size: 30px;
    color: #000;
}

.new_playlist {
    font-size: 1.1rem;
}

/* account */
.nav_account {
    display: flex;
    flex-direction: column;
}

/* #download_app */
#download_app {
    padding-bottom: 5;
}
#download_app a {
    width: calc(100% - 20px);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
#download_app .nav_icon {
    opacity: 0.6;
}

#download_app:hover .nav_icon {
    opacity: 1;
}

/* #user */
#user {
    font-size: 1.1rem;
    font-weight: 700;
} 
#user .icon_box {
    height: 30px;
    width: 30px;
    border-radius: 50%;    
}
#user img {
    margin: 0;
    height: 20px;
}

/* main content */
.main_content {
    width: calc(100% - 230px);
    background-color: blueviolet;
}

.top_bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: calc(100% - 230px);
    background-color: rgba(0, 0, 0, 0.5);
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;    
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #282828;
}

footer i:hover {
    color: #fff;
}

.footer_left,
.footer_right {
    min-width: 230px;
    padding: 10px 10px 15px;
}
.footer_middle {
    padding: 10px 0 15px;
}
.footer_left i,
.footer_right i {
    font-size: 1.1em;
    padding: 0 5px;
}

/* footer left */
.footer_left {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    width: 230px;
}

.track_info {
    display: flex;
    align-items: center;
}
.track_cover {
    height: 60%;
    max-width: 100%;
    margin-right: 10px;
}
.track_text {
    display: flex;
    flex-direction: column;   
    font-weight: 600;
    overflow-x: hidden;
}

.track_title {
    font-size: 0.9em;
    opacity: 0.4;
}

.save_track {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* footer middle */
.footer_middle {    
    width: 40%;
}

#player_controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 230px;    
    height: 50%;
    margin: 0 auto;
}

#player_controls i {
    font-size: 1.3rem;
    cursor: pointer;
}

.player_progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    font-weight: 600;
}

/* footer right */
.footer_right {
    display: flex;
    align-items: center;
    width: 230px;
}
.actions {
    display: flex;
}

.volume_level {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}
.volume_level .player_bar {
    padding: 0 5px 0 10px;
}

/* media queries */
@media screen and (max-width: 767px) {

    .sidenav *.hidden-xs {
        display: none;
    }
    .sidenav *.not_visible_xs {
        visibility: hidden;
    }
    /* side nav */
    .sidenav {
        width: 50px;
    }

    /* #download_app */
    #download_app a {
        border-bottom: none;
    }

    /* #user */ 
    #user .icon_box {
       margin-right: 0;   
    }

    /* main content */
    .main_content {
        width: calc(100% - 50px);
    }

    .top_bar {
        width: calc(100% - 50px);
    }

    /* footer */
    .footer_left,
    .footer_middle,
    .footer_right {
        min-width: auto;
        width: 30%;
    }

    .track_cover {
        height: 40%;
    }

    #player_controls {
        width: 100%;
    }
    #player_controls i {
        font-size: 1rem;
    }
    .player_progress {
        font-size: 0.7rem;
    }
    .track_artist {
        font-size: 0.7rem;
    }
    .track_title {
        font-size: 0.6rem;
    }

}

@media screen and (min-width: 768px) {


    .sidenav *.hidden-sm{
        display: none;
    }

}
@media screen and (max-height: 590px) {

    /* nav_account */
    /* .nav_account {
        overflow-y: hidden;
    } */
    
    #user {
        display: none;
    }
    #download_app a {
        padding-bottom: 0;
        border-bottom: none;
    }

}
@media screen and (max-height: 530px) {

    /* nav_account */
    #download_app {
        display: none;
        
    }

}