/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
}
h2 {
    padding-bottom: 15px;
    font-size: 24px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-weight: 500;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}
ul {
    list-style: none;    
}
li span,
li a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.wrapper {
    width: 100%;
    height: 100vh;
    min-height: 320px;
    min-width: 320px;
}

.text_truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
}
/* player bar */
.fader {
    flex-grow: 1;
    padding: 0 20px;
}

.player_time,
.fader {
    display: flex;
    align-items: center;
}
.bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3); 
}
.elapsed_bar {
    position: relative;
    height: 100%;
    width: 30%;
    background-color: #fff; 
}

.elapsed_bar:after {
    content: "";
    position: absolute;
    right: 0;
    height: 14px;
    width: 14px;
    transform: translateX(+50%);
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
}
.bar:hover {
    cursor: pointer; 
}
.bar:hover .elapsed_bar {
    background-color: #adff2f 
}
.bar:hover:after{
    opacity: 1;
}

/* main side + content */
main {
    display: flex;
    height: calc(100% - 90px);
}

/* sidenav */
.sidenav {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: #000;
}

/* sidenav styles */
.sidenav li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
}
.sidenav li.sidenav_title {
    padding-top: 20px;
    padding-bottom: 0;
}     
.sidenav li.sidenav_title span {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}     
.sidenav li a {
    display: flex;
    align-items: center;
}

.sidenav .sidenav_icon {
    height: 30px;
    margin-right: 10px;
}
.sidenav .icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;    
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* sidenav hover/active */
.sidenav li:active:after {    
    content: "";
    position: absolute;
    left: 0;
    height: calc(100% - 20px);
    border-left: 3px solid #adff2f;
}
.sidenav .sidenav_menu li:active:after {
    height: calc(100% - 14px); /* 14px padding top + bottom of li */
}

.sidenav li:active img,
.sidenav li:active a,
.sidenav a:hover img,
.sidenav a:hover {
    color: #fff;
    opacity: 1;
}

.sidenav li:not(#user):active .icon_box,
.sidenav li a:hover .icon_box {
    background-color: #fff;
}

/* sidenav logo */
.sidenav_logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 90px;
    padding: 10px 20px;
}
#logo_small {
    height: 30px;
}
#logo_full {
    height: 60%;
}

/* sidenav_menu */
.sidenav .sidenav_icon {
    margin-right: 5px; 
    opacity: 0.5;
}
.sidenav_menu li {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* playlists */
.sidenav_playlists {
    flex-grow: 1;
    overflow-y: auto;
}
.sidenav_playlists .sidenav_icon {
    margin: 0;
    font-size: 30px;
    color: #000;
    opacity: 1;
}
.sidenav_playlists .new_playlist {
    font-size: 16px;
}

/* sidenav_account */
/* #download_app */
#download_app::before {    
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#download_app .sidenav_icon {
    height: 15px;
    margin-right: 10px;    
}

/* #user */
#user {
    font-size: 16px;
    font-weight: 600;
} 
#user img {
    margin: 0;
    height: 20px;
    opacity: 1;
}
#user .icon_box {
    height: 30px;
    width: 30px;
    border-radius: 50%;    
}

/* main content */
.main_content {
    width: calc(100% - 240px);
    padding: 90px 0 0 20px;   
    overflow-y: auto;
    background-color: #141922;
}

/* top bar */
.top_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 240px);
    height: 90px;
    padding-right: 20px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 25px; /* ::after width*/
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-weight: 600;
    text-transform: uppercase; 
    color: #fff;
}
.btn:hover {
    transform: scale(110%);    
    cursor: pointer;
}

.btn::before,
.btn::after {
    content: "";   
    height: 46px;
    width: 25px;
    border: 2px solid #fff;
}
.btn::before {
    margin-right: -25px;
    transform: translateX(-100%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: 0;
}
.btn::after {
    margin-left: -25px;
    transform: translateX(100%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 0;
}

/* main menu */
.main_menu ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-right: 20px;
}
.main_menu li {
    position: relative;
    padding: 20px 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.main_menu a {
    display: inline-block;
    max-width: 100%;
}
.main_menu li:active a,
.main_menu li:hover a {
    color: #fff;
}
.main_menu li:active:before {    
    content: "";
    position: absolute;
    left: calc((100% - 40px) / 2);
    bottom: 0;
    width: 40px;
    margin-bottom: 10px;
    border-bottom: 3px solid #adff2f;
}

/* main sections */
.main_section {
    padding-top: 30px;
}
/* .main_section:last-of-type {
    padding-bottom: 30px;
} */

.row {
    display: flex;
    flex-flow: row wrap;
}
.row_item {
    width: calc((100% / 7) - 20px );
    margin: 15px 20px 0 0;
}

.row_item_cover {
    position: relative;
    font-size: 0;
    overflow: hidden;
}
.row_item_cover.round_cover {
    border-radius: 50%;
}
.row_item_cover img {
    width: 100%;  
}

.row_item_text {
    padding-top: 15px;
    text-align: center;
}
.row_item_title {
    padding-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}
.row_item_subtitle {
    display: block;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;     
}
.row_item_title:hover,
.row_item_subtitle:hover {
    text-decoration: underline;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

/* overlay */
.row_item_cover:hover:before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: #282828;
}
footer i:hover {
    color: #fff;
}
.footer_left,
.footer_right {
    min-width: 240px;
    width: 240px;
}
.footer_middle {
    min-width: 240px;
    padding: 10px 5px 10px;
}

.footer_middle i:hover,
.footer_right i:hover {
    text-shadow: 0 0 3px #000, 0 0 5px #000, 0 0 5px #fff;
    cursor: pointer;
}


/* footer left */
.footer_left {
    display: flex;
    padding: 10px 10px 10px 20px;
}
.footer_left i {
    padding-left: 10px;
}

.track_info {
    display: flex;
    align-items: center;
    max-width: calc(100% - 48px);
}
.track_cover {
    height: 60%;
    max-width: 100%;
    margin-right: 10px;
}
.track_cover:hover {
    cursor: pointer;
}

.track_text {
    display: flex;
    flex-direction: column;
    max-height: 70px;
    overflow: auto;
}
.track_artist {       
    font-weight: 500;
}
.track_title {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
.track_text .track_title:hover,
.track_text .track_artist:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.save_track {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* footer middle */
.footer_middle {    
    width: 40%;
}

#player_controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;    
    height: 50%;
    margin: 0 auto;
}
#player_controls i:not(#my_play_button) {
    padding: 0 5px;
    font-size: 16px;    
}

#my_play_button {
    font-size: 26px;
}
#my_play_button:hover {
    transform: scale(130%);
}

.player_progress {
    display: flex;
    height: 50%;
}

/* footer right */
.footer_right {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
}
.footer_right i {
    padding-right: 15px;
    font-size: 14px;
    color: #fff;
}
.footer_right i:hover {
    transform: scale(120%);
}

.actions {
    display: flex;
}

.volume_fader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 0;
}

/* media queries */
/* xl width */
@media screen and (max-width: 1699px) {
    
    /* main content */
    .row_item {
        width: calc((100% / 6) - 20px );
    }

}
/* lg width */
@media screen and (max-width: 1499px) {
    
    /* main content */
    .row_item {
        width: calc((100% / 5) - 20px );
    }

}
/* ml width */
@media screen and (max-width: 1299px) {
    
    /* main content */
    .row_item {
        width: calc((100% / 4) - 20px );
    }
}
/* m width */
@media screen and (max-width: 1065px) {
    
    /* main content */
    .row_item {
        width: calc((100% / 3) - 20px );
    }

}
/* sm width */
@media screen and (max-width: 859px) {
    
    /* main content */
    .row_item {
        width: calc((100% / 2) - 20px );
    }
}
/* s  width*/
@media screen and (max-width: 736px) {
    
    *.hidden-s {
        display: none;
    }
    *.not_visible_s {
        visibility: hidden;
    }

    body {
        font-size: 12px;
    }

    h2 {
        font-size: 21px;
    }

    /* side nav */
    .sidenav {
        align-items: center;
        width: 50px;
    }
    .sidenav li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidenav_logo,
    .sidenav .sidenav_icon,
    #user .icon_box {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    
    #download_app  {
        margin: 0;
        justify-content: center;
    }
    #download_app::before {
        visibility: hidden;
    }
    #download_app .sidenav_icon  {
        height: 30px;
        margin-right: 0px;
    }

    /* main content */
    .main_content {
        width: calc(100% - 50px);
    }
    .top_bar {
        width: calc(100% - 50px);
    }    
    
    .main_menu li,
    .row_item_title {
        font-size: 14px;
    }

    /* footer */
    .footer_left,
    .footer_middle,
    .footer_right {
        min-width: auto;
        width: 30%;
    }
    .footer_left,
    .footer_right {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .track_info {
        max-width: 100%;
    }
    .track_cover {
        width: 40px;
        height: auto;
    }

    .track_title {
        font-size: 11px;
    }

    #player_controls {
        width: 100%;
    }
    
}
/* xs width */
@media screen and (max-width: 489px) {

    *.hidden-xs {
        display: none;
    }
    *.not_visible_xs {
        visibility: hidden;
    }

    h2 {
        font-size: 18px;
    }

    /* main */
    .main_menu li,
    .row_item_title {
        font-size: 12px;
    }

    /* footer */
    .footer_middle {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #player_controls {
        width: 300px;
    }

}
/* xxs width */
@media screen and (max-width: 429px) {
    
    .main_menu ul {
        height: 50px;
        text-align: center;
        overflow-y: auto;
    }
    .main_menu ul li {
        padding: 15px 5px 20px;
        width: 50%;
    }
    .main_menu ul li:nth-child(2n+1) {
        padding-left: 0;
    }
    .main_menu ul li:nth-child(2n) {
        padding-right: 0;
    }

}

/* full sidebar width */
@media screen and (min-width: 737px) {

    #logo_small{
        display: none;
    }

}

/* height ranges/smartphone landscape */
@media screen and (min-width :430px) and (max-width: 736px) and (max-height: 579px) {

    .main_section {
       text-align: center;
    }
    .row_item {
        width: calc((100% / 3) - 20px );
    }
    .row_item_cover img {
        width: 75%;
    }
    .row_item_cover.round_cover img {
        border-radius: 50%;
    }

    /* overlay */
    .row_item_cover:hover:before {
        width: 75%;
        transform: translateX(16.6666%);
    }
    .row_item_cover.round_cover:hover:before {
        border-radius: 50%;
    }

}
@media screen and (max-height: 584px) and (min-width: 737px) {
       
    #user {
        display: none;
    }
    #download_app::before {
        border: none;
    }

}
@media screen and (max-height: 534px) and (min-width: 737px) {

    #download_app {
        display: none;
        
    }

}